*{
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    img {
        width: 10%;
        align-self: flex-start;
        height: 100%;
    }
    a{
        align-self: flex-end;
        width: 50px;
        height: 60%;
        margin: 10px;
    }
    text-align: center;
    font-size: 2em;
    background-color:rgb(226, 218, 218);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
nav{
    color: white;
    display: none;
    justify-content: space-around;
    position: absolute;
    :nth-child(1){
        flex: 2;
    }
    :nth-child(2){
        flex:2;
    }
    :nth-child(3){
        flex: 2;
    }
    :nth-child(4){
        flex: 2;
    }
    :nth-child(5){
        flex: 2;
    }
    :nth-child(6){
        flex: 2;
    }
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0px;
    flex-direction: column;
}
nav:target{
    display:flex;
    height: 50%;
    font-size: 2em;
    justify-content: center;
    background-color:rgba(167, 165, 165, 0.9);
    color: white;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
}
a:visited{
    color: black;
}
a:hover{
    background-color: rgba($color: #ffffff, $alpha: 0.75)
}
    
img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
#indeximage{
    background-color: black;
    height: 100vh;
}

#hamburgericon{
    width: 100%;
}
.navitem{
    padding: 20px;
}
footer{
    text-align: center; 
    height: 20%;
}
#backarrow{
    height: 10%;
    width: 10%;
    top: 0;
    right: 0;
}